@charset "utf-8";
/*-----CSS Reset-------*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td; {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	max-height: 999999px;
}
body {
	line-height: 1;
	height: 100%;
	overflow-x: hidden;
}
ol, ul, li {
	list-style: none; /* gets rid of the bullets next to links*/
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------global class's-----------------*/
@-moz-document url-prefix() { 
#preview {
	width: 180px !important;
}
ul#options {
	line-height: 0.9 !important;
}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
#preview {
	width: 180px !important;
}
}
/*---------------------------------------------*/
.left {
	float: left;
}
.right {
	float: right;
}
.center {
	margin: 0 auto;
}
.shadow {
	box-shadow: 0 0 20px #000;
}
.hover:hover {
	box-shadow: 0 0 10px #000;
}
.pointer {
	cursor: pointer;
}
.lower-r {
	border-left: 2px solid #232323;
}
.lower-l {
	border-right: 2px solid #232323;
}
/*----------------------------------------------------*/
ul, li, body, h1, h2, h3, h4, h5, h6, div, p, c {
	/* Normalizes margin, padding, font */
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-weight: normal;/* text is normally bold without this */
	font-size: 1em;
	display: block;
}
#topThree p {
	/* text under image box, main page test */
	font-size: 120%;
	text-align: center;/* centeres the text */
	margin-top: 155px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	color: #ccc;
}
#nav-wrap {
	display: block;/*Anthology pg.289*/
	background-color: #000;
	height: 44px
}
#nav-width {
	width: 960px;
	margin: 0 auto
}
#nav-links li {
	float: left;
	padding: 18px 3px 8px 3px
}
ul#nav-links li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #a9a9aa;
	letter-spacing: 2px;
	font-size: 85%;
	padding-bottom: 9px;
	margin: 20px 15px 10px 15px
}
/*------Drop Down Menu-----Language--------------*/
li#nav-english {
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	color: #a9a9aa;
	letter-spacing: 2px;
	font-size: 85%;
	padding: 18px 2px 9px 0px;
	margin:0px 15px 0px 181px;
}
ul#options {
	/*style inside the ddmenu*/
	/*height of the ddmenu is defined inside the JavaScript*/
	padding: 10px 0 0 8px;
	position: absolute;
	visibility: visible;
	height: 0px;
	width: 110px;
	overflow: hidden;
	background: #000;
	margin: 33px 20px 30px 819px;
	border-radius: 0 0 5px 5px;
	transition: height 0.2s linear 0s;
	line-height: 1;
}
#options-group {
	padding-top: 6px
}
ul#options li {
	/*style for the text inside the ddmenu*/
	padding: 0 0px 4px 0px
}
ul#options li a {
	padding: 0;
	margin: 0
}
/*------------text highlight and text underline on link---------------*/
#nav-width a:hover,
#nav-english p:hover {
	color: #A3443E
}
body#home 				li#nav-home a,
body#technology 		li#nav-technology a, 
body#gallery			li#nav-gallery a, 
body#contact			li#nav-contact a, 
body#specifications		li#nav-specifications a,
body#components 		li#nav-components a {
	/*when on selected page nav bar text will be red*/
	color: #A3443E;/*#A3443E*/
	border-bottom: 2px solid #A3443E;/*#7C131A*/
}
/*------Logo----------------------------*/
#logo {
	/*new logo used on all updated pages*/
	padding-top: 25px;
	padding-bottom: 20px;
	width: 350px;
	height: 83px;
	margin: 0 auto
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -140px;/* the bottom margin is the negative value of the footer's height */
}
/*----main page footer-----------------*/

#sock {
	width: 100%;
	background-color: #000;
	height: 140px;
}
#foot {
	background-repeat: repeat-x;
	width: 920px;
	height: 65px;
	text-align: left;
	color: #a9a9aa;
	font-size: 135%;
	margin-top: 35px;
}
#foot-left {
	width: 280px;
	height: 55px;
	float: left;
}
#foot-right {
	width: 280px;
	height: 55px;
	float: right;	
}
#share-div {
	
}
#foot-left p {
	margin: 8px auto 0 auto;
	text-align: center;
}
#foot-right p {
	margin: 8px auto 0 auto;
	text-align: center;
}
#mover1 {
	width: 124px;
	height: 20px;
	margin: 4px auto 0 auto;
}
#mover4 {
	width: 118px;
	height: 24px;
	margin: 0 auto;
}
#copyright {
	width: 335px;
	height: 35px;
	margin: 5px auto 0 auto;
}
#copyright li {
	display: inline-block;
	color: #a9a9aa;
	font-family: Tahoma, Geneva, sans-serif;
}
#social-up {
	display: inline-block;
}
#social-up a img {
	margin-bottom: -9px;
}
#copyright li a {
	text-decoration: none;
	color: #a9a9aa;
	line-height: 87%
}
#copyright li a:hover {
	color: #0099FF;
}
/*--------------------------*/

#spec-foot {
	background-repeat: repeat-x;
	width: 840px;
	height: 65px;
	text-align: left;
	color: #a9a9aa;
	font-size: 135%;
	margin-top: 35px;
}
#con-foot {
	background-repeat: repeat-x;
	width: 850px;
	height: 65px;
	text-align: left;
	color: #a9a9aa;
	font-size: 135%;
	margin-top: 35px;
}
#spec-sock {
	width: 100%;
	background-color: #000;
	height: 140px;
	margin-top: 30px;
}




/*-------------Body--------------*/
#content {
	background-repeat: repeat-x;
	width: 960px;/*652*/
	margin: 0 auto;
}
html {
	/*sets the background and its position. this code is key to the parallax*/
	background-position: 50% 1px;/*this line updated by the javascript for parallax*/
	background-attachment: fixed;/*without this the background repeats*/
	background-image: url(images/background4-inv.jpg);/*this is the background image link*/
/*	background-image: url(images/trial2.png);/*this is the background image link*/
	background-color: #12110F;
	min-width: 960px;/*continues the nav and footer past renderd screen size*/
	height: 100%;
}
/*------Feature---------------*/
#feature {
	height: 414px;
	width: 100%;
	background-color: #000;
	margin: 0 auto 45px auto;/*this centers the feature*/
	box-shadow: 0 15px 20px #111;/*+hoz | +vert | blur | +spread */
}
#feature p {
	width: 960px;
	height: 414px; /* height of the feature img minus the nav bar. */
	margin: 0 auto 45px auto; /* center's the image |top, right, bottom, left|  */
	/*position: ;/*1px this needs research*/
}

/*----------home page top three images-----------*/
#test-wrap {
	width: 925px;
	height: 200px;
	margin: 0 auto;
}
#test-left {
	position: relative;
}
#test-left img {
	border-radius: 4px;
}
#test-drop-left, #test-drop-middle, #test-drop-right {
	width: 280px;
	height: 0px;
	bottom: 0;
	background-color: #fff;
	position: absolute;
	visibility: visible;
	overflow: hidden;
	transition: height 0.2s linear 0s;
	border-radius: 4px;
}
#test-three {
	float: left;
}
.hover2 {
	opacity: 0.9;
}
.hover2:hover {
	opacity: 1;
}
#test-three p {
	font-size: 120%;
	text-align: center;
	margin-top: 5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	color: #ccc;
}
.test-middle {
	margin: 0 42px 0 42px;
}
#test-drop-left img {
	border: 2px solid white;
}
/*--------Cards---------------*/
.left1 {
	padding-left: 60px;/*works on moble on this 'px'*/
	padding-top: 15px;
	padding-bottom: 7px
}
.right1 {
	border-right: 2px solid #12110f;
	padding-right: 60px;/*works on moble at this 'px'*/
	padding-top: 7px;
	padding-bottom: 7px
}
#card-top {
	width: 925px;
	height: 65px;
	padding: 0;
	margin: 10px auto 0 auto;
	background-color: #fff;/*#888;*/
	border-radius: 4px;
}
ul#top-list {
	width: 800px;
	margin: 0 auto;
	padding-left: 5px
}
ul#top-list li {
	display: inline-block;
	text-decoration: none;
	margin: 5px auto
}
ul#top-list li a {
	text-decoration: none
}
#top-list p:hover {
	color: #A3443E;
}
#card-top p {
	text-align: left;
	color: #12110f;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 170%;
	line-height: 100%;
}
/*-------tech top pictures-----------------*/
#tech-pics {
	width: 925px;
	height: 150px;
	margin: 45px auto 45px auto;
}
#tech-pics img {
	border-radius: 3px;
	border: 2px solid white;
}
.mid {
	margin-left: 32px;
	margin-right: 32px;
}
/*----------tech page---------------*/
#tech-wrap {
	margin: 0 auto 100px auto;
	width: 925px;
	height: auto;
	font-weight: normal;
	color: #000;
	text-align: left;
}
#tech-wrap h1 {
	font-size: 29px;
	font-weight: lighter;
	line-height: 1.3;
}
#tech-wrap h2 {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 500;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 5px;
}
#tech-wrap h3 {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 500;
	font-family: 'Source Sans Pro', sans-serif;
}
#tech-wrap li:before{
	content: "– ";
	font-weight: bold;
}
#tech-wrap li {
	display: list-item;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 500;
	font-family: 'Source Sans Pro', sans-serif;
}
.tech-pad {
	padding: 40px;
	background: #fff;
	border-radius: 4px;
}
#tech-two {
	margin-top: 240px;
	width: auto;
	height: auto;
}
#tech-two img {
	margin: -240px 0 0 0;
}
#tech-three {
	margin: -5px auto 0 0;
	width: auto;
	height: 549px;
	position: relative;
}
#tech-three img {
	width: 845px;
	height: 549px;
}
#tech-three h1 {
	float: left;
	margin-left: 12px;
}
#tech-three h2 {
	float: left;
	margin-top: -470px;
}
#tech-four {
	margin: -5px auto 0 auto;
	width: auto;
	height: 702px;
}
#tech-four img {
	width: 850px;
	height: 702px;
}
#tech-four h1 {
	line-height: 0.4;
	padding-top: 30px;
	padding-left: 510px;
	float: left;
	margin-top: -650px;
}
#tech-four h2 {
	float: left;
	margin-top: -610px;
}
#tech-four li:before {
	content: none;
}
#tech-four ol li {
	padding-left: 500px;
	padding-bottom: 7px;
}
#tech-five {
	margin-top: -5px;
	width: auto;
}
#tech-five img {
	width: 845px;
	height: 556px;
}
#tech-five h1 {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 500;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 5px;
	padding-top: 10px;
	/*
	padding-left: 500px;
	float: left;
	margin-top: -530px;
	*/
}
#tech-five h2 {
	padding-left: 500px;
	float: left;
	margin-top: -460px;
}
#tech-five h3 {
	padding-top: 15px;
}
#tech-six {
	margin-top: -5px;
	width: auto;
	height: 500px;
}
#tech-six img {
	float: right;
	width: 845px;
	height: 513px;
}
#tech-six h1 {
	margin: 0 0 0 50px;
	margin-top: -426px;
	float: left;
}
#tech-six h2 {
	margin: 0 0 0 50px;
	width: 350px;
	margin-top: -390px;
	float: left;
}
#tech-seven {
	margin: 300px 0 200px 0;
	width: auto;
	height: auto;
	background-color: #fff;
}
#tech-seven h1 {
	color: #000;
	margin-top: -30px;
}
#tech-seven img {
	margin-top: -250px;
}
#tech-seven ol {
	padding-left: 24px;
	margin: 0;
}
#tech-seven ol li {
	list-style-type: decimal;
}
#tech-seven h2 ol li:before {
	content: none;
}
#tech-seven h3, h4, h5 {
	font-size: 180%;
	line-height: 120%;
	color: red;
	position: absolute;
	text-shadow: 1px 1px #000;
	font-weight: bold
}
#tech-seven h3 {
	margin-top: -235px;
	margin-left: 480px
}
#tech-seven h4 {
	margin-top: -250px;
	margin-left: 195px
}
#tech-seven h5 {
	margin-top: -430px;
	margin-left: 425px
}
/*---------------Tables-------------------*/
#message {
	height: 120px;
	padding: 20px 25px 20px 25px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	text-shadow: 1px 1px #000;
	font-size: 175%;
	line-height: 145%;
	color: #ccc;
}
#message h1 {
	text-align: left
}
#message h2 {
	text-align: center
}
#message h3 {
	text-align: right
}
#message2 h1 {
	height: 0px;
	padding: 25px 0px 25px 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	text-shadow: 1px 1px #000;
	font-size: 175%;
	line-height: 145%;
	text-align: center;
	color: #ccc;
}
/*-----lines------------------------------*/
#line1 {
	/* horizontal line on main page */
	width: 95%;
	border-top: 1px solid #454442;
	margin: 0 auto
}
#line2 {
	/* horizontal line, main page below slideshow */
	width: 95%;
	border-top: 3px solid #454442;
	margin: 30px auto 20px auto
}
#line3 {
	/* horizontal line, tech page*/
	margin: 0 auto;
	width: 790px;
	border-top: 1px solid #ccc;
}
/*----------SlideShow-----------------------------*/
/*--slides--*/
#hero-wrap {
	position: relative;
	height: 525px;
}
#hero {
	width: 925px;
	height: 434px;
	display: block;
	position: relative;
	margin: 0 auto;
}
#slider {
	max-width: 100%;/*without this the slider will grow*/
	height: 434px;
	display: block;
	overflow: hidden;
}
/*--slides text--*/
.info {
	width: 925px;
	height: 80px;
	position: relative;
	bottom: 440px;
	font-family: Roboto, Tahoma, Geneva, sans-serif;
	font-size: 175%;
	line-height: 145%;
	font-weight: normal;
}
.info h2 {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #000;
	padding: 10px 0 0 5px
}
.info p {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	padding: 5px 0 0 5px;
	line-height: 1px
}
/*--progress bar--*/
#pager {
	margin: 4px 0 2px 17px;
	height: 15px
}
#pager span {
	width: 0px
}
#pager a {
	border-radius: 2px;
	width: 150px;/*also update script value*/
	font-size: 0px;
	text-align: center;
	margin-right: 4px;
	border: 1px solid #fff;/*#ccc*/
	margin-right: 3px;
	float: left;
	border: 1px solid #666;/*pager border color*/
}
#pager a:hover {
	border-color: #fff;
}
#pager a.activeSlide {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000
}
#pager a, #pager span {
	display: block;
	height: 10px
}
#pager span {
	/*color of pager fill*/
	background-color: #666;/*#555*/
	width: 0px
}
/*--thumbnails--*/
#thumb {
	width: 930px;
	height: 70px;
	position: absolute;
	margin: 0 0 0 17px;
}
#thumb li {
	width: 150px;
	height: 70px;
	display: inline-block;
	margin-right: 1px;
}
.activeSlide {
/*	margin: -2px;*/
/*	border: 2px solid #fff;*/
}
.small {
	width: 150px;
	height: 70px;
	opacity: 0.9;
	/*margin-top:4px;/**/
}
.small:hover {
	opacity: 1
}
/*-------buttons---------*/
#pause {
	position: absolute;
	background-image: url(images/icons/pause5.png);
	top: 0px;
	right: 17px;
	width: 35px;
	height: 44px;
	margin: 15px
}
#play {
	position: absolute;
	background-image: url(images/icons/play5.png);
	top: 0px;
	right: 17px;
	width: 35px;
	height: 44px;
	margin: 15px
}
.icon {
	margin: 15px;
	position: relative;
	background-size: 35px 44px;
	opacity: 1
}
.icon:active {
}
.icon:hover {
	opacity: 0.7
}
.paused {
	/*active when clicked*/
	border-radius: 45px;
	visibility: hidden
}
.playing {
	/*active when clicked*/
	border-radius: 45px;
	visibility: hidden
}
/*------Contact page-------------------------------*/
#contact-wrap {
	margin: 0 auto;
	width: 900px;
	height: 780px;
}
#contact-img {
	width: 408px;
	height: 590px;
	margin: 0 0 0 75px;
}
#contact-form {
	margin-left: 0;
	width: 380px;
}
input {
	width: 200px;
	margin-right: 150px;
	margin-bottom: 10px;
}
form#frmContact {
	width: 396px;
}
textarea {
	width: 330px;
	height: 125px;
	margin-bottom: 10px;
	margin-right: 30px;
	max-width: 330px;
}
fieldset#personalInfo {
	border: 2px solid #bbb;
	box-shadow: 0 0 20px #000;
	padding-left: 12px;
	width: 380px;
	background-color: #bbb;
}
fieldset#how {
	border: none;
	padding: 0;
	margin: 10px 0 0 1px;
}
input#submitBtn {
	width: 55px;
	height: 25px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.box {
	width: 15px;
	height: 15px;
	margin: 0px;
}
#how label {
	position: absolute;
}
fieldset#how h2 {
	margin-top: 0;
}
.box2 {
	margin-left: 80px;
}
.box3 {
	margin-left: 85px;
}
#contact-form h1 {
	/* contact wesll text */
	font-size: 135%;
	color: #bbb;
	margin: 0 10px;
}
#contact-form h2 {
	/*Contact form text*/	
	font-size: 110%;
	color: #333;
	display: block;
	margin: 10px 0 0 0;
}
#contact-form h3 {
	/*red contact form text*/
	color: #F00;
	font-size: 110%;
	float: right;
}
#contact-form h4 {
	color: #F00;
	font-size: 110%;
	float: none;
}
#contact-form h5 {
	color: #F00;
	font-size: 100%;
	margin-top: 18px;
	margin-left: 56px;
}
#submitBtn {
	margin: 0;
}
/*-----------gallery img swaper----------------*/
#gallery-wrap {
	height: 730px;
	margin: 0 auto;
	background-repeat: repeat-x;
	width: 980px;/*652*/
	border-radius: 4px;
}
#img-wrap {
	width: 980px;
	height: 680px;
	margin-top: 50px;
	margin-bottom: 80px;
	box-shadow: 0 0 20px #000;
}
#video1 {
	width: 650px;
	height: 366px;
	margin-left: 4px;
	padding-top: 4px
}
#video1-text {
	width: 292px;
	height: 300px
}
#video1-text p {
	text-align: right;
	margin-top: 30px;
	margin-right: 20px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 165%;
	line-height: 145%;
	font-weight: normal;
	text-shadow: 1px 1px #000
}
#video2 {
	width: 650px;
	height: 366px;
	margin-left: 4px;
	padding-top: 4px
}
#video2-text {
	width: 292px;
	height: 300px
}
#video2-text p {
	text-align: right;
	margin-top: 30px;
	margin-right: 40px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 165%;
	line-height: 145%;
	font-weight: normal;
	text-shadow: 1px 1px #000
}
#wrap-1 {
	width: 100%;
	background-color: #fff;
	height: 305px;
	margin: 70px auto
}
#wrap1-2 {
	width: 100%;
	background-color: #fff;
	height: 305px
}
#wrap-2 {
	width: 950px;
	background-color: #1b1b1b;
	height: 374px;
	margin: 70px auto;
}
#wrap-3 {
	width: 950px;
	background-color: #1b1b1b;
	height: 374px;
	margin: 70px auto;
}
#wrap-4 {
	width: 942px;
	height: 418px;
	background-color: #1b1b1b;
	margin: 70px auto;
	padding: 4px
}
#quad-gal-1 {
	width: 650px;
	height: 305px;
	margin: 0 auto
}
#gallery1 {
	width: 650px;
	height: 305px
}
#gallery1 > div {
	position: absolute
}
#menu-main-1 {
	width: 430px;
	height: 38px;
	margin: 5px auto 0 auto
}
#menu-main-1 a {
	font-size: 120%;
	color: #333
}
#menu-main-1 a:hover, #menu-main-2 a:hover {
	background: #fff
}
#menu-main-1 a:focus {
	/*for mobile touch screens*/
	color: #fff
}
#select-dd {
	width: 88px;
	height: 37px;
	position: absolute;
	background-color: #edeef0;
	border: 0;
	margin-left: 25px
}
select#speed {
	height: 37px;
	background-color: #edeef0;
	font-size: 120%;
	color: #000;
	font-weight: bold;
	border: 0px;
	margin: 0px;
	width: 88px;
	border-radius: 3px 0 0 3px
}
#wedge1 {
	margin-left: 88px;
	border: 0;
	border-top: 37px solid #edeef0;
	border-right: 25px solid transparent;
	border-radius: 0 5px 0 0
}
#wedge1-2 {
	border: 0;
	border-bottom: 37px solid #edeef0;
	border-left: 25px solid transparent;
	border-radius: 0 0 0 5px
}
.select-menu a {
	padding: 5px 20px 5px 20px;
	border: 2px solid #edeef0;
	margin: 0 2px 0 2px;
	border-radius: 5px
}
#menu1, #menu2, #menu3, #menu4 {
	margin-left: 128px;
	position: absolute
}
#menu2, #menu3, #menu4 {
	visibility: hidden
}
.activeImg {
	background-color: #edeef0
}
/*------Quad Gallery 2----------------*/
#quad-gal-2 {
	width: 650px;
	height: 305px;
	margin: 40px auto
}
#gallery2 {
	width: 650px;
	height: 305px
}
#gallery2 > div {
	position: absolute
}
#menu-main-2 {
	height: 38px;
	width: 610px;
	margin: 5px auto 0 auto
}
#menu-main-2 a {
	font-size: 120%;
	color: #333
}
#select-dd-2 {
	width: 123px;
	height: 37px;
	position: absolute;
	background-color: #edeef0;
	border: 0;
	margin-left: 25px
}
select#speed-2 {
	height: 37px;
	width: 123px;
	font-size: 120%;
	color: #000;
	font-weight: bold;
	border: 0px;
	margin: 0px;
	background-color: #edeef0;
	border-radius: 3px 0 0 3px
}
#wedge2 {
	margin-left: 123px;
	border: 0;
	border-top: 37px solid #edeef0;
	border-right: 25px solid transparent;
	border-radius: 0 5px 0 0
}
.select-menu-2 {
	width: 450px;
	height: 28px;
	margin: 10px 50px 0 0;
	transform: skew(-35deg);
	-webkit-transform: skew(-35deg)
}
.select-menu-2 a {
	padding: 5px 20px 5px 20px;
	border: 2px solid #edeef0;
	margin: 0 2px 0 2px;
	border-radius: 5px
}
#menu5, #menu6 {
	margin-left: 162px;
	position: absolute
}
#menu6 {
	visibility: hidden
}
/*-----------------Proto Slider----------------------*/
#proto {
	width: 980px;
	height: 378px;
	position: relative;
	
	overflow: hidden;
	border-radius: 4px;
}
#proto-left {
	overflow: hidden;
	position: absolute;
	top: 50px;
	z-index: 1;
	left: -420px
}
#proto-left img {
	width: 550px;
	height: 275px
}
#proto-center {
	overflow: hidden;
	position: absolute;
	top: 25px;
	left: 165px;
	z-index: 2
}
#proto-center img {
	width: 650px;
	height: 325px;
	opacity: 1
}
#proto-right {
	left: 850px;
	overflow: hidden;
	position: absolute;
	top: 50px;
	z-index: 1
}
#proto-right img {
	width: 550px;
	height: 275px
}
#proto-prev, #proto-next {
	background: #000;
	color: #fff;
	font-size: 60px;
	line-height: 35px;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 45px;
	height: 45px;
	margin-top: -22px;
	position: absolute;
	top: 50%;
	z-index: 5;
	border-radius: 45px;
	box-shadow: 0 0 30px #000
}
#proto-prev {
	left: 0
}
#proto-next {
	right: 0
}
#proto-prev:hover, #proto-next:hover {
	background: #555
}
#proto-page {
	text-align: center;
	width: 650px;
	height: 18px;
	margin: auto;
	margin-top: 355px
}
#proto-page a.selected span {
	background: #BBB
}
#proto-page span:hover {
	background: #BBB
}
#proto-page span {
	border-radius: 10px;
	background: #666;
	text-indent: -100px;
	margin: 0 4px;
	display: inline-block;
	width: 18px;
	height: 18px;
	overflow: hidden
}
#lower-wrap {
	width: 100%;
	background: #232323;/*#232323*/
	height: 440px;
	margin-bottom:125px;
}
#lower-width {
	width: 960px;
	margin: 0 auto;
	height: 440px
}
#lowerThree {
	height: 170px;
	width: 930px;
	margin: 0 auto
}
#lowerThree p {
	font-size: 120%;
	color: #333;
	padding: 8px 5px 0 5px;
	text-align: center;
	font-weight: bold;
	position: absolute;
	text-shadow: 1px 1px #ccc
}
#lowerThree .lower-c p {
	color: white;
	text-shadow: none
}
#lower-text p {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-size: 160%;
	line-height: 145%;
	padding: 20px 0 25px 0;
	color: #fff;
	text-align: center
}
/*------------------Main page Email-----------------*/
#lower-text-2 p {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-size: 220%;
	line-height: 145%;
	padding: 0;
	margin: 35px 0 5px 0;
	color: #fff;
	text-align: center
}
#lower-text-2 h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-size: 130%;
	color: #fff;
	text-align: center;
	margin-top: 10px
}
#main-email-wrap {
	margin: 0 auto;
	width: 365px;
	height: 30px;
	padding: 0px 0 0px 0px
}
input#main-email {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	width: 300px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	border: none;
	background: #999;
	font-size: 150%;
	color: #111;
	text-align: center;
	font-weight: bolder;
	float: left
}
input#email-button {
	width: 60px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	background: #999;
	font-weight: bolder;
	border: none;
	text-align: center
}
input#email-button:hover {
	background: #0099FF;
	color: #fff
}
/*---------------YouTube Video's------------*/
#coming-soon {
	width: 925px;
	height: 250px;
	margin: 0 auto;
}
#coming-soon p {
	margin-top: 40px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	text-shadow: 1px 1px #000;
	font-size: 175%;
	line-height: 145%;
	color: #fff;
}
#coming-soon a {
	text-decoration: none;
}
#coming-soon-2 {
	width: 960px;
	height: 100px;
	margin: 0 auto 140px auto
}
#coming-soon-2 p {
	margin-top: 70px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	font-size: 220%;
	line-height: 145%;
	color: #fff;
}
#video-wrap {
	width: 925px;
	margin: 50px auto
}
video#video1 {
	width: 960px;
	height: 510px;
	background-color: gray
}
/*----------Specifications-------------*/
#spec-wrap {
	height: 700px;
	background-color: #fff;
	width: 800px;
	margin: 160px auto;
	border-radius: 4px;
}
#spec-wrap img {
	margin-top: -150px;
	margin-left: 20px;
	margin-bottom: -20px;
	width: 600px;
	height: 224px
}
table#spec-sheet {
	font-family: verdana, Tahoma, Geneva, sans-serif;
	text-align: left;
	font-size: 8pt;
	text-decoration: none;
	margin: 0 auto
}
th {
	border: 1px solid #aaa;
	font-weight: 500;
	padding: 3px 0 3px 6px;
	text-align: left;
}
.back1 {
	background-color: #c0c0c0;
	padding-left: 4px;
	width: 150px
}
.back2 {
	padding-left: 4px;
	width: 600px
}
.space2 {
	background-color: #fff;
	border: none;
	font-size: 150%;
	padding: 5px 0 0 3px
}
/*-------------components-------------*/
#comp-wrap {
	width: 925px;
	height: 1000px;
	margin: 0px auto 175px auto;
/*	border: 1px solid red;*/
	background-color: #fff;
}
#comp-row-1 {
	width: 802px;
	height: auto;
/*	border: 1px solid red;*/
	margin: 0 auto 0 auto;
}
#comp-1 {
	width: 195px;
	height: auto;
/*	border: 1px solid red;*/
	display: inline-block;
}
#comp-2 {
	width: 195px;
	height: auto;
/*	border: 1px solid red;*/
	display: inline-block;
}
#comp-3 {
	width: 195px;
	height: auto;
/*	border: 1px solid red;*/
	display: inline-block;
}
#comp-4 {
	width: 195px;
	height: auto;
/*	border: 1px solid red;*/
	display: inline-block;
}
/*-------test------test------test------*/
.userSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-user-select: none;
}
.userSelectAll {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	-o-user-select: all;
	-user-select: all;
}
.preview {
	width: 150px;
	height: 72px;
	margin: 0 0 15px 0;
	opacity: .5;
}
.active-media {
	color: #A3443E !important; 
}
.active-media h2 {
	color: #A3443E !important;	
}
.active-preview {
	border: 2px solid #A3443E;
	opacity: 1;
	width: 146px;
	height: 68px;
}
.scrollbar {
	border-radius: 20px;
}
#media-wrap {
	width: 980px;
	height: 500px;
	margin: 60px auto 0 auto;
}
#media {
	margin: 0 auto;
}
#media-main {
	width: 750px;
	height: 500px;
	float: left;
}
#selector {
	margin: 0 0 5px 0;
	width: 750px;
	height: 30px;
	float: left;
}
#selector a {
	cursor: pointer;
	float: left;
	margin: 0 30px 0 30px;
	text-decoration: none;
	font-size: 26px;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
}
#selector h1 {
	cursor: pointer;
	float: left;
	margin: 10px 0 0 0px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
}
#selector h2 {
	cursor: pointer;
	float: left;
	margin: 0 0px 0 0;
	text-decoration: none;
	font-size: 26px;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
}
#selector h2:hover {
	color: #A3443E;
}
#selector a:hover {
	color: #A3443E;
}
#event {
	float: left;
	width: 750px;
	overflow: hidden;
}
#event iframe {
	width: 750px;
	height: 452px;
	border: none;
}
#event img {
	position: absolute;
}
#arrow-l, #arrow-r {
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: pointer;
	opacity: .8;
	background-color: #12110f;
}
#arrow-l {
	margin: 210px 0 0 0;
}
#arrow-r {
	margin: 210px 0 0 700px;
}
#arrow-l:hover {
	opacity: 1;
}
#arrow-r:hover {
	opacity: 1;
}
#arrow-l img {
	margin: 10px 0 0 13px;
	position: absolute;
}
#arrow-r img {
	margin: 10px 0 0 17px;
	position: absolute;
}
#gal-page {
	float: left;
	opacity: .7;
	margin-top: 400px;
}
#gal-page > div {
	width: 750px;
}
#page-none {
	width: 0 !important;
	height: 0 !important;
}
#gal-page a:first-child {
	margin-left: 10px;
}
#gal-page a {
	float: left;
	width: 35px;
	height: 30px;
	transform: skew(-35deg);
	-webkit-transform: skew(-35deg);
	-ms-transform: skew(-35deg);
	-moz-transform: skew(-35deg);
	border: 2px solid #edeef0;
	margin: 7px 7px 0 0px;
	border-radius: 5px;
}
#preview {
	width: 168px;
	height: 425px;
	overflow: scroll;
	overflow-x: hidden;
	float: left;
	margin-left: 775px;
	margin-top: 35px;
	position: absolute;
}
#preview::-webkit-scrollbar {
    width: 7px;
}
#preview::-webkit-scrollbar-track { 
    border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
}
#preview::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-radius: 10px;
    background: #A3443E;  
}
#preview::-webkit-scrollbar-thumb:window-inactive {
	background: #fff; 
}
.preview-select {
	background-color: #edeef0;
	opacity: 1;
	cursor: pointer;
	border: 2px solid #A3443E;
}
#event-page a:hover {
	background-color: #edeef0;
	opacity: 1;
	cursor: pointer;
}
#preview img:hover {
	opacity: 1;
	cursor: pointer;
	border: 2px solid #A3443E;
	width: 146px;
	height: 68px;
}
.select-menu {
	width: 400px;
	height: 28px;
	margin: 10px 0 0 0;
	transform: skew(-35deg);
	-webkit-transform: skew(-35deg)
}
.select-menu a {
	padding: 5px 20px 5px 20px;
	border: 2px solid #edeef0;
	margin: 0 2px 0 2px;
	border-radius: 5px
}
#link-footage1,
#link-footage2,
#link-footage3,
#link-footage1 a,
#link-footage2 a,
#link-footage3 a {
	font-size: 22px;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;	
	text-decoration: none;
	margin-top: 40px;
}
#link-footage1 a:hover,
#link-footage2 a:hover,
#link-footage3 a:hover {
	color: blue;
	text-decoration: underline;
}
#link-footage1,
#link-footage2,
#link-footage3 {
	display: none;
}
#gal-page-wesll,
#event iframe,
#preview-renders {
	position: absolute;
}
#page-aprillia, 
#page-ducati, 
#page-harley, 
#page-honda, 
#page-kawasaki, 
#page-prototype, 
#page-wesll, 
#page-triumph, 
#page-wing, 
#page-yamaha, 
#page-event,
#page-box,
#page-raw,
#page-zoom,

#preview-renders,
#preview-videos,
#preview-footage {
	position: absolute;
	display: none;
}
#page-vid1,
#page-vid2,
#page-vid3,
#page-vid4,

#page-footage1,
#page-footage2,
#page-footage3 {
	display: none !important;
}
.hide {
	display: none;
}
.show {
	display: block;
}

/*------------Social Media------------------*/
